body {
    background-image: url(background.jpg);
}

.jumbotron {
    background-color: rgba(256, 256, 256, 0.4);
    color: #FFFFFF;
}

.list-group-item {
    background-color: rgba(256, 256, 256, 0.9);
    color: #000000;
}

.btn {
    background-color: #FFA500;
}

.wolfram {
    font-size: 400%;
    color: #FFA500;
}

#wB {
    color: #FFA500;
}

#fave {
    color: #FFFFFF;
}

#operations {
    color: #FFFFFF;
}

#upload {
    color: #FFFFFF;
}

#label1 {
    color: #FFFFFF;
}

#label2 {
    color: #FFFFFF;
}

#latex {
    color: #FFFFFF;
}
