{% extends "basic.html" %}
{% block body %}
<div class="jumbotron" id="home">
  <center><span class="wolfram">wolframBeta</span>
    <p>is a simple, intuitive linear algebra calculator that allows the user to choose their input method: LaTeX code, JPEG images, and canvas drawing. LaTeX source code for the output is made available to the user.</p> 
    <h3>What operations are supported by wolframBeta?</h3>
    <p>wolframBeta supports a multitude of operations. Click the link to find out more.</p>
    <p><a class="btn btn-primary btn-lg" href="/operations" role="button">Learn more</a></p>
    <h3>Choose your input method!</h3>
    <p><a class="btn btn-primary btn-lg" href="/type" role="button">LaTeX code</a>
      <a class="btn btn-primary btn-lg" href="/upload" role="button">Upload JPEG</a>
      <a class="btn btn-primary btn-lg" href="/draw" role="button">Draw canvas</a></p>
  </center>
</div>
{% endblock %}
