<!DOCTYPE html>
<html>
  <head>
    <h1>Draw Your Input </h1>
  </head>

  <body>
    <canvas height="500" width="500" id="box" style="border:1px solid"> </canvas>

    <button id="clear"> Clear </button>

    <div class="col-lg-4">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Choose Operation
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="2">Add Vectors</li>
    <li class="2">Subtract Vectors</li>
    <li class="2">Add Matrix</li>
    <li class="2">Subtract Matrix</li>
    <li class="2">Dot Product</li>
    <li class="2">Scale Matrix</li>
    <li class="2">Scale Vectors</li>
    <li class="1">Trace</li>
    <li class="1">Transpose</li>
    <li class="1">Vector Euclidean norm </li>
    <li class="1">Complex conjugate of a vector</li>
    <li class="1">Complex conjugate of a matrix </li>
    </ul>
    </div>
    </div>

    <canvas hidden height="500" width="500" id="box1" style="border:1px solid"> </canvas>

    <button hidden id="clear1"> Clear </button>
    <script src="../static/js/draw.js"></script>

  </body>
</html>
