{% extends "basic.html" %}
{% block body %}
<div class="row">
  <center> <h1 id="operations">Operations supported by wolframBeta</h1> <br></center>
</div>
<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/VectorAddition.html" target="_blank">Vector Addition</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/VectorDifference.html" target="_blank">Vector Subtraction</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ScalarMultiplication.html" target="_blank">Scaling A Vector</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ComplexConjugate.html" target="_blank">Complex Conjugate of A Vector</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/FrobeniusNorm.html" target="_blank">Frobenius Norm</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixAddition.html" target="_blank">Matrix Addition</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixAddition.html" target="_blank">Matrix Subtraction</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixMultiplication.html" target="_blank">Matrix Multiplication</a></li>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="https://reference.wolfram.com/language/ref/ScalingMatrix.html" target="_blank">Scaling a Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ConjugateMatrix.html" target="_blank">Complex Conjugate of a Matrix</a></li>
      <li class="list-group-item"><a href="https://people.richland.edu/james/lecture/m116/matrices/determinant.html" target="_blank">Determinant Of A Square Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/DotProduct.html" target="_blank">Dot Product</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixTrace.html" target="_blank">Trace</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Transpose.html" target="_blank">Transpose</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ConjugateTranspose.html" target="_blank">Conjugate Transpose</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/VectorNorm.html" target="_blank">Vector Euclidean Norm</a></li>

    </ul>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Cofactor.html" target="_blank">Cofactor Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Adjoint.html" target="_blank">Adjoint of a Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixInverse.html" target="_blank">Inverse of a Square Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/GaussianElimination.html" target="_blank">Guassian Elimination</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixRank.html" target="_blank">Rank</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Invertible.html" target="_blank">Invertibility</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/HermitianMatrix.html" target="_blank">Hermitian Matrix Check</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixPower.html" target="_blank">Power of a Matrix</a></li>
      <!--left out sustem of linear equation solver & grouped invertibility as one-->

    </ul>
  </div>
</div>
<div class="row">
  <br><center><p><a class="btn btn-primary btn-lg" href="/home" role="button">Back to Home</a></p></center>
</div>
{% endblock %}
