{% extends "basic.html" %}
{% block body %}
<div class="row">
  <center> <h1 id="operations">Operations supported by wolframBeta</h1> <br></center>
</div>
<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/VectorAddition.html">Vector Addition</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/VectorDifference.html">Vector Subtraction</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ScalarMultiplication.html">Scaling A Vector</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ComplexConjugate.html">Complex Conjugate of A Vector</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/FrobeniusNorm.html">Frobenius Norm</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixAddition.html">Matrix Addition</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixAddition.html">Matrix Subtraction</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixMultiplication.html">Matrix Multiplication</a></li>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="https://reference.wolfram.com/language/ref/ScalingMatrix.html">Scaling a Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ConjugateMatrix.html">Complex Conjugate of a Matrix</a></li>
      <li class="list-group-item"><a href="https://people.richland.edu/james/lecture/m116/matrices/determinant.html">Determinant Of A Square Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/DotProduct.html">Dot Product</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixTrace.html">Trace</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Transpose.html">Transpose</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/ConjugateTranspose.html">Conjugate Transpose</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/VectorNorm.html">Vector Euclidean Norm</a></li>

    </ul>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Cofactor.html">Cofactor Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Adjoint.html">Adjoint of a Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixInverse.html">Inverse of a Square Matrix</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/GaussianElimination.html">Guassian Elimination</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixRank.html">Rank</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/Invertible.html">Invertibility</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/HermitianMatrix.html">Hermitian Matrix Check</a></li>
      <li class="list-group-item"><a href="http://mathworld.wolfram.com/MatrixPower.html">Power of a Matrix</a></li>
      <!--left out sustem of linear equation solver & grouped invertibility as one-->

    </ul>
  </div>
</div>
<div class="row">
  <br><center><p><a class="btn btn-primary btn-lg" href="/home" role="button">Back to Home</a></p></center>
</div>
{% endblock %}
