<!DOCTYPE html>
<html>

  <head>
    <title> wolframBeta </title>
  </head>

  <body>
    <center>
      <h2> Upload your input below! </h2>

  	<select id="operationList">
	  <option value="addvector">Add Vectors</option>
	  <option value="subvector">Subtract Vectors</option>
	  <option value="addmatrix">Add Matrices</option>
	  <option value="submatrix">Subtract Matrices</option>
	  <option value="dot">Dot Product</option>
	  <!-- <option value="cross">Cross Product</option> -->
	  <option value="scalvector">Multiply Vector By A Scalar</option>
	  <option value="scalmatrix">Multiply Matrix By A Scalar</option>
	</select>

	<br><br>

	<input type="file" name="input1"></input>
   
   	<input type="file" name="input2"></input>
   
    </center>
  </body>

</html>


